{% extends 'admin.html' %}
{% load static %}
{% block admincontent %}

<!-- Message Block -->
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} 
                alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

        <div class="container-fluid p-4">
            <h1 class="mt-4">Welcome to the Admin Dashboard</h1>

            <!-- Profile Page -->
            <div class="mt-4">
                <h2>Edit Profile</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% comment %} <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" value="{{name}}">
                    </div> {% endcomment %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Admin Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{admin_details.name}}" placeholder="Enter HR Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Admin Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ email }}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Admin Phone Number</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile" value="{{ admin_details.mobile}}" placeholder="Enter HR Phone Number">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </form>
            </div>
        </div>
    
{% endblock %}