
{% extends 'admin.html' %}
{% load static %}
{% block admincontent %}



<div class="container-fluid p-4">
    <h1 class="mt-4">Welcome to the Admin Dashboard</h1>

    <!-- Example of cards -->
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-primary">
                <a href="{% url 'admin_users' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Users</h5>
                        <p class="card-text text-white">View and Manage user accounts</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-success">
                <a href="{% url 'admin_products' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Products</h5>
                        <p class="card-text text-white">View and manage products</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-info">
                <a href="{% url 'admin_services' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Services</h5>
                        <p class="card-text text-white">View and manage services</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-warning">
                <a href="{% url 'admin_jobs' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Jobs</h5>
                        <p class="card-text text-white">View and manage jobs</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-danger">
                <a href="{% url 'admin_requests' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Orders</h5>
                        <p class="card-text text-white">Track customer orders</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-primary">
                <a href="{% url 'job_students' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Job Application</h5>
                        <p class="card-text text-white">Track Job Applications</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card text-white bg-success">
                <a href="{% url 'admin_notices' %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Notices</h5>
                        <p class="card-text text-white">View and manage notices</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}