{% extends 'department.html' %}
{% load static %}
{% block departmentcontent %}
<div class="container-fluid p-4">
    <h1 class="mt-4">Welcome to the Department Dashboard</h1>

<div>
    <a href="{% url 'add_services' %}" class="btn btn-primary">
        Add Service
    </a>
</div>
    <!-- List Page -->
    <div class="mt-4">
        <h2>Services List</h2>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Enabled</th>
                    <th>Approved</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.department }}</td>
                    <td>{{ service.name}}</td>
                    <td>{{ service.desc }}</td>
                    <td>{{ service.duration }}</td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.enabled | yesno:"Yes,No" }}</td>
                    <td>{{ service.is_approved|yesno:"Yes,No" }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="w-50">
                                <form method="GET" action="{% url 'edit_services' %}" class="w-100 d-flex justify-content-between">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{ service.id }}">
                                    <button class="btn btn-warning btn-sm w-100 me-1" type="submit" name="edit" value="edit">Edit</button>
                                </form>
                            </div>
                            <div class="w-50">
                                <form method="POST" action="{% url 'delete_services' %}" class="w-100 d-flex justify-content-between">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{ service.id }}">
                                    <button class="btn btn-danger btn-sm w-100" type="submit" name="delete" value="delete">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-1">
                            {% if service.is_rejected %}
                            <div class="w-100">
                                    <button class="btn btn-danger btn-sm w-100" type="" name="reject" value="reject" disabled>Rejected</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">No service found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
