{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Display Messages -->
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-info{% endif %} 
                alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
      <h3 class="text-center mb-4">Login</h3>
      {% if error %}
      <div class="alert alert-danger" role="alert">
          {{ error }}
          {% if admin_contact %}
            <p><strong>Admin Contact:</strong></p>
            <p>Name: {{ admin_contact.name }}</p>
            <p>Email: <a href="mailto:{{ admin_contact.email }}">{{ admin_contact.email }}</a></p>
            <p>Phone: <a href="tel:{{ admin_contact.phone }}">{{ admin_contact.mobile }}</a></p>
        {% endif %}
      </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
          <!-- Email field -->
          <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" name ="email" class="form-control" id="email" placeholder="Enter your email" required>
          </div>

          <!-- Password field -->
          <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name ="password" class="form-control" id="password" placeholder="Enter your password" required>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary w-100">Login</button>

          <!-- Link to register -->
          <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      </form>
  </div>
</div>

{% endblock %}